<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lu.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.lu.domain.User">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="age" column="age"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="version" column="version"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <select id="getUserList" resultMap="userResultMap">
        select  * from user;
    </select>
    <select id="getUserList2" resultType="com.lu.domain.User">
        select  * from user;
    </select>
    <select id="getById" parameterType="Long" resultType="com.lu.domain.User">
        select * from user where id = #{id}
    </select>
    <select id="getByIdAndName" resultType="com.lu.domain.User">
        select  * from user where id=#{id} and name=#{name}
    </select>
    <select id="getByIdAndName2" resultType="com.lu.domain.User">
        select  * from user where id=#{id} and name=#{name}
    </select>
</mapper>